body {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-top: 150px;
}

.custom-navbar {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 0;
}

.top-navbar {
    background-color: #f8f9fa;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.bottom-navbar {
    background-color: #2574fa;
    top: 70px;
    padding: 10px 20px;
    postion: fixed;
    z-index: 999;
    width: 100%;
    justify-content: center;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #ff6f61;
}

.navbar-nav .nav-item img {
    object-fit: contain;
    max-height: 50px;
}

.top-navbar .navbar-brand img {
    max-height: 60px;
}

footer {
    background-color: #898a8c;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: auto;
}
footer a:hover {
    text-decoration: underline;
}
footer a:default {
    color: #000000;
}

h2 {
    color: #000000;
    margin-bottom: 20px;
}

p{
    color: #000000;
}

.seconCn{
    background-color: white;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #2574fa;
    border: none;
}

.btn-primary:hover {
    background-color: #3355ff;
}

.btn-secondary {
    background-color: #2574fa;
    border: none;
}

.btn-secondary:hover {
    background-color: #3355ff;
}
.forgot-password {
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

