<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Certifications</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </style>
</head>
<body  style="background-color: whitesmoke;">
<div th:replace="fragments/navbar.html"></div>
<div class="container">
    <h2 class="text-center mt-4">Add a New Certification</h2>

    <!-- Success Message -->
    <div class="alert alert-success" role="alert" th:if="${successMessage}">
        <span th:text="${successMessage}"></span>
    </div>
    <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
        <span th:text="${errorMessage}"></span>
    </div>
    <form method="post" th:action="@{/admin/add-certification}">
        <div class="form-group">
            <label for="name">Certification Name</label>
            <input class="form-control" id="name" name="name" required type="text">
        </div>
        <div class="form-group">
            <label for="examBoard">Exam Board</label>
            <input class="form-control" id="examBoard" name="examBoard" required type="text">
        </div>
        <div class="form-group">
            <label for="skills">Skills</label>
            <input class="form-control" id="skills" name="skills" required type="text">
        </div>
        <div class="form-group">
            <label for="learningTime">Learning Time</label>
            <input class="form-control" id="learningTime" name="learningTime" required type="text">
        </div>
        <div class="form-group">
            <label for="about">About</label>
            <textarea class="form-control" id="about" name="about" required rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="hyperlink">Hyperlink</label>
            <input class="form-control" id="hyperlink" name="hyperlink" required type="url">
        </div>
        <div class="text-left mt-3">
            <button class="btn btn-primary btn-block" type="submit">Add Certification</button>
        </div>

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
